.container {
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  max-width: var(--container-width-sm);
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    max-width: var(--container-width-md);
  }
}

@media screen and (min-width: $breakpoint-md) {
  .container {
    max-width: var(--container-width-lg);
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    max-width: var(--container-width-xl);
  }
}