.form__field {
  + .form__field {
    margin-top: var(--spacing-lg);
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__label {
  margin-bottom: var(--spacing-sm);
  display: block;
  color: var(--color-text);
  font-size: 0.8em;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.form__input,
.form__select {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0 var(--spacing-md);
  border: solid 1px var(--color-border-light-accessible);
  border-radius: var(--border-radius);
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIxIiBoZWlnaHQ9IjE5MSIgdmlld0JveD0iMCAwIDMyMSAxOTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xNTEuNTI1IDE4Ny4xMjVMMy41MjUgNDAuMzI1Qy0xLjE3NSAzNS42MjUgLTEuMTc1IDI4LjAyNSAzLjUyNSAyMy4zMjVMMjMuMzI1IDMuNTI1QzI4LjAyNSAtMS4xNzUgMzUuNjI1IC0xLjE3NSA0MC4zMjUgMy41MjVMMTYwLjAyNSAxMjIuMDI1TDI3OS43MjUgMy41MjVDMjg0LjQyNSAtMS4xNzUgMjkyLjAyNSAtMS4xNzUgMjk2LjcyNSAzLjUyNUwzMTYuNTI1IDIzLjMyNUMzMjEuMjI1IDI4LjAyNSAzMjEuMjI1IDM1LjYyNSAzMTYuNTI1IDQwLjMyNUwxNjguNTI1IDE4Ny4xMjVDMTYzLjgyNSAxOTEuODI1IDE1Ni4yMjUgMTkxLjgyNSAxNTEuNTI1IDE4Ny4xMjVaIiBmaWxsPSIjNjE2MTYxIi8+Cjwvc3ZnPgo=");
  background-color: var(--color-light);
  background-repeat: no-repeat;
  background-position: right 1rem bottom 50%;
  background-size: .7rem;

  font-size: 1em;
}

.form__select,
.form__range-input {
  width: 100%;
  cursor: pointer;
}

.form__checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__checkbox-label {
  display: flex;
  width: calc(50% - var(--spacing-sm));
  padding: var(--spacing-xs) 0;
  cursor: pointer;
}

.form__checkbox-input {
  display: inline-block;
  cursor: pointer;
  appearance: none;
  box-shadow: none;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  color: var(--color-brand-primary);
  border: 2px solid #BDBDBD;
  border-radius: 4px;
  background-color: #FAFAFA;
  background-origin: border-box;
  user-select: none;
  color-adjust: exact;
  flex-shrink: 0;
  margin: 0 var(--spacing-sm) 0 0;
  padding: 0;
  cursor: pointer;
  will-change: background;
  transition: background .2s ease;

  &:checked {
    background-color: currentColor;
    border: 2px solid currentColor;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/></svg>");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.form__range {
  display: flex;
  flex-direction: column;
}

.form__range-value {
  margin-bottom: var(--spacing-sm);
  display: block;
}

.form__range-input {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
}

@mixin form__range-slider-track {
  width: 100%;
  height: .3rem;
  cursor: pointer;
  background: var(--color-brand-primary);
  border-radius: 25px;
}

.form__range-input:focus {
  outline: none;
}

.form__range-input::-webkit-slider-runnable-track {
  @include form__range-slider-track;
}

.form__range-input:focus::-webkit-slider-runnable-track {
  background: var(--color-brand-primary-dark);
}

.form__range-input::-moz-range-track {
  @include form__range-slider-track;
}

.form__range-input::-ms-track {
  @include form__range-slider-track;
}

@mixin form__range-slider-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  border: solid 2px var(--color-brand-primary);
  background: var(--color-light);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.6rem;
}

.form__range-input::-webkit-slider-thumb {
  @include form__range-slider-thumb;
}

.form__range-input::-moz-range-thumb {
  @include form__range-slider-thumb;
}

.form__range-input::-ms-thumb {
  @include form__range-slider-thumb;
}

.form__range-input::-ms-fill-lower {
  background: var(--color-brand-primary);
  border-radius: 50px;
}

.form__range-input::-ms-fill-upper {
  background: var(--color-brand-primary);
  border-radius: 50px;
}

.form__range-input:focus::-ms-fill-lower {
  background: var(--color-brand-primary-dark);
}
.form__range-input:focus::-ms-fill-upper {
  background: var(--color-brand-primary-dark);
}